*{
    background-color: rgb(161, 199, 255);
    display: flex;
    flex-wrap: wrap;
}
#logo{
    flex-wrap: wrap;
    background-color: white;
    margin: 50px;
    border: 25px;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
}
#Nav{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 75px;
    text-align: center;
}
#PageTitle{
    flex-direction: row-reverse;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    text-align: center;
}
body{
    margin: 0px;
}