*{
    background-color: rgb(161, 199, 255);
    display: flex;
    flex-wrap: wrap;
}
head{
    display: none;
}
#logo{
    flex-wrap: wrap;
    margin: 50px;
    border: 25px;
}
#NavHome{
    margin-right: 105px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 75px;
    text-align: center;
}
#NavMerch{
    margin-right: 105px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 75px;
    text-align: center;
}
#MailingList{
    margin-right: 105px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 75px;
    text-align: center;
}
#Nav{
    height: 75px;
}
#TheTeam{
    margin-top:25px;
}
#Member1{
    margin-right:70%;
    margin-top:10px;
}
#Member2{
    margin-left:70%;
    margin-top:10px;
}
#Member3{
    margin-right:70%;
    margin-top:10px;
}
#Member4{
    margin-left:70%;
    margin-top:10px;
}
#Member5{
    margin-right:70%;
    margin-top:10px;
}
i{
    margin:5px;
    height: 24px;
    width: 24px;
}